.blockFAQ {
  width: 60%;
  background: #181818;

  padding-bottom: 200px;
}
.FAQTITLE {
  padding-left: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.title {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description {
  color: #181818;

  padding-left: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Add these styles to your faq.css file */

/* Target the Collapse panel */
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  border-color: #ff5722; /* Change this to your desired border color */
}

/* Target the Collapse panel when it's active (expanded) */
.ant-collapse > .ant-collapse-item-active > .ant-collapse-header {
  border-color: #ff5722; /* Change this to your desired border color */
}

/* Optional: Change the border color of the panel body */
.ant-collapse-content {
  border-color: #ff5722; /* Change this to your desired border color */
}
